# OLLAMA_URL specifies the service endpoint URL of the Ollama daemon
OLLAMA_URL=http://localhost:11434

# OLLAMA_MODEL specifies the model name to use on the local Ollama instance
OLLAMA_MODEL=phi3:mini
